@font-face {
  font-family: 'Most Wazted';
  src: url('../fonts/MostWazted.woff2') format('woff2'),
    url('../fonts/MostWazted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: rgba(251, 214, 3, 1);
  background: linear-gradient(to bottom right,
      rgba(251, 215, 3, 0.7),
      rgba(224, 191, 0, 1));
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(251, 215, 3, 1);
  box-shadow: 1px 2px 5px 0px rgba(6, 17, 133, 0.404);
  min-height: 25vh;
  position: relative;
  overflow: hidden;
}


header h1 {
  position: relative;
}

header::before {
  content: "parseInt(null, 24) === 23";
  font-family: 'Most Wazted';
  top: 25%;
  left: 5%;
  position: absolute;
  font-size: 3rem;
  transform: rotate(15deg);

}


header::after {
  content: "Cantor so-so..";
  font-family: 'Most Wazted';
  right: 10%;
  bottom: 15%;
  position: absolute;
  color: #ffffff;
  font-size: 3.2rem;
  transform: rotate(-15deg);
}


header h1::before {
  content: "NaN === NaN";
  font-family: 'Most Wazted';
  top: 200%;
  left: 5%;
  position: absolute;
  color: transparent;
  font-size: 4rem;
  transform: rotate(-7deg);

}

header h1::after {
  content: "0.1 + 0.2 !== 0.3";
  font-family: 'Most Wazted';
  right: 10%;
  bottom: -130%;
  position: absolute;
  transform: rotate(15deg);
}

header span {
  position: relative;
}

header span::before {
  content: "typeof null === 'object'";
  font-family: 'Most Wazted';
  top: 3rem;
  left: 0;
  position: absolute;
  transform: rotate(5deg);
}

header span::after {
  content: "null instanceof Object // false";
  font-family: 'Most Wazted';
  right: -5rem;
  bottom: 3rem;
  position: absolute;
  transform: rotate(5deg);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-item {
  padding: 1rem;
  background-color: rgb(255, 253, 225);
  box-shadow: 1px 2px 5px 0px rgba(6, 17, 133, 0.404);
  position: relative;
  transition: box-shadow 0.3s;
}

.container-item:hover {
  box-shadow: 2px 4px 10px 0px rgba(6, 17, 133, 0.404);
}