@import url("./fonts.css");
@import url("./color.css");

body {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-image: url(../imgs/fon.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  /* background: var(--main-bg-color);
  background: linear-gradient(to bottom right,
      #fbd703b3,
      rgba(224, 191, 0, 1)); */

}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title);
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  background: var(--main-bg-color);
  box-shadow: 1px 2px 5px 0px rgba(6, 17, 133, 0.404);
  min-height: 30vh;
  position: relative;
  overflow: hidden;
}


header h1 {
  position: relative;
  font-size: 4rem;
  margin-top: 0.5rem;
  color: var(--title);
}

header span {
  color: var(--title);
  font-size: 1.5rem;
}

header::before {
  content: "parseInt(null, 24) === 23";
  font-family: 'Most Wazted';
  color: rgb(75, 73, 73);
  top: 25%;
  left: 5%;
  position: absolute;
  font-size: 2rem;
  transform: rotate(15deg);

}


header::after {
  content: "Cantor so-so..";
  font-family: 'Most Wazted';
  right: 20%;
  bottom: 15%;
  position: absolute;
  color: rgb(75, 73, 73);
  font-size: 3rem;
  transform: rotate(-15deg);
}


header h1::before {
  content: "NaN === NaN";
  font-family: 'Most Wazted';
  top: 200%;
  left: 5%;
  position: absolute;
  color: rgb(75, 73, 73);
  font-size: 2rem;
  transform: rotate(-7deg);

}

header h1::after {
  content: "0.1 + 0.2 !== 0.3";
  font-family: 'Most Wazted';
  right: 0;
  bottom: -120%;
  color: rgb(75, 73, 73);
  position: absolute;
  transform: rotate(15deg);
}

header span {
  position: relative;
}

header span::before {
  content: "typeof null === 'object'";
  font-family: 'Most Wazted';
  top: 6rem;
  left: -4rem;
  font-size: 1.5rem;
  color: rgb(75, 73, 73);
  position: absolute;
  transform: rotate(2deg);
}

header span::after {
  content: "null instanceof Object // false";
  font-family: 'Most Wazted';
  right: -8rem;
  bottom: -3rem;
  font-size: 1.7rem;
  color: rgb(75, 73, 73);
  position: absolute;
  transform: rotate(5deg);
}

/*****************************************/

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-item {
  padding: 1rem 1.2rem;
  background-color: rgb(255, 253, 225);
  box-shadow: 1px 2px 5px 0px rgba(6, 17, 133, 0.404);
  position: relative;
  transition: box-shadow 0.3s;
  margin-bottom: var(--mb);
}

.container-item:hover {
  box-shadow: 2px 4px 10px 0px rgba(6, 17, 133, 0.404);
}

div.alert {
  border-left: 8px solid var(--violet);
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  color: var(--violet);
}

.alert strong {
  color: tomato;
  text-transform: uppercase;
}

pre {
  display: flex;
  justify-content: center;
  align-items: center;
}

pre code {

  font-size: 1.2rem;
  /* background-color: var(--white); */
  color: var(--black);
  line-height: 1.1;
}

code span {
  color: var(--violet);
  font-weight: bold;
}

.alert code {
  font-size: 1.2rem;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.4;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

}